<div id="comment">
  <div class="row">
    <div class="user-name col-sm-1">
      <%= link_to comment.user.username, profile_path(comment.user.username) %>
    </div>
    <div class="comment-content col-sm-9">
      <p style="word-wrap:break-word; margin-left:10px;"><%= comment.content %></p>
    </div>
    <div class="col-sm-1">
      <% if comment.user == current_user %>
        <%= link_to post_comment_path(post, comment), method: :delete, data: { confirm: "Are you sure?" }, remote: true do %>
          <span class="glyphicon glyphicon-remove delete-comment"></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
