<div class="form-wrapper">
  <%= simple_form_for @post, html: { class: 'form-horizontal', multipart: true } do |f| %>
    <div class="form-group">
      <%= f.input :image %> <br>
      <div class="text-center">
        <%= f.input :caption %> <br>
        <%= f.button :submit, class: 'btn-success' %>
      </div>
    </div>
  <% end %>
</div>
